    @import "_variables";
    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        font-size: 20px;
    }
    
    #Grid-container {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: minmax(10vh, auto) minmax(85vh, auto) minmax(5vh, auto);
        background-color: $background-color;
    }
    
    #Header-container {
        z-index: 1000;
        position: sticky;
        top: 0;
        background: $highlight-color-two;
        display: grid;
        width: 100%;
        align-items: center;
        justify-items: center;
        font-family: $link-font;
        color: $background-color;
        box-shadow: 3px 0px 3px $border-color;
        font-size: 1.3rem;
        grid-template-columns: repeat(auto-fit, minmax(216px, auto));
        #Logo-link {
            max-height: 16vh;
            padding-top: 1vh;
            padding-bottom: 1vh;
            text-decoration: none;
        }
        .Phonenumber-class {
            display: none;
        }
        a:link {
            color: $background-color;
            text-decoration: none;
            padding: 0px 2px 0px 2px;
        }
        a:visited {
            color: $background-color;
        }
        a:hover {
            color: rgb(167, 153, 127);
        }
        .Active-link {
            border-bottom: solid 2px $background-color;
        }
        img {
            height: 100%;
        }
    }
    
    #Content-container {
        #Hungry-banner {
            position: relative;
            width: 100%;
            height: 70vh;
            background-image: url(../Images/Pizza.jpg);
            background-repeat: no-repeat;
            background-size: 100vw;
            animation: Fade 3s;
            #Hungry-text {
                position: absolute;
                top: 24vh;
                left: 57%;
                width: 30%;
                text-align: center;
                @include button(1px, 1px, 3px, $border-color);
                background-color: rgba(10, 10, 10, 0.6);
                #Hungry-question {
                    color: $background-color;
                    font-family: $link-font;
                    font-size: 1.9rem;
                    text-decoration: none;
                }
                .Hungry-answer {
                    color: $background-color;
                    font-family: $Text-font;
                    font-style: italic;
                    display: inline;
                }
            }
        }
        #Homepage-text {
            font-family: $Text-font;
            text-align: center;
            margin: 7%;
        }
        #Video-container {
            width: 100%;
            display: grid;
            justify-items: center;
            #Pizza-video {
                max-width: 800px;
                margin-bottom: 10vh;
            }
        }
        #Tossing-pizza-container {
            width: 40vw;
            #Tossing-pizza {
                width: 100%;
                position: relative;
                left: 30vw;
                margin-bottom: 10vh;
                border: $border-color solid 1.2px;
                border-radius: 5px;
            }
        }
        #Opening-hours {
            padding: 10vh 7vw 10vh 7vw;
            margin: 15vh 10vw 15vh 10vw;
            border-bottom: $Default-border;
            border-top: $Default-border;
            font-family: $link-font;
            font-size: 3.5rem;
            text-align: center;
        }
    }
    
    .Menu-headers {
        font-family: $link-font;
        margin: 7vh 5vw 0vh 5vw;
        padding-bottom: 4px;
        color: $border-color;
        font-size: 1.7rem;
        border-bottom: $Default-border;
        animation: Move 2s;
    }
    
    .Menu-grid {
        display: grid;
        margin: 5vh 5vw 5vh 5vw;
        width: 90vw;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        column-gap: 5vh;
        row-gap: 6vh;
        justify-items: center;
        animation: Fade 3s;
        .Pizza-item-container {
            width: 330px;
            height: 470px;
            background-color: white;
            border: 1.2px solid $foreground-color;
            box-shadow: 0px 0px 2px;
            border-radius: 5px;
            text-align: center;
            align-items: center;
        }
        .Menu-item-container {
            width: 340px;
            height: 250px;
            background-color: white;
            border: 1.2px solid $border-color;
            border-radius: 5px;
            text-align: center;
            align-items: center;
        }
        .Buy-now-button {
            @include button(1px, 1px, 2px, $border-color);
            margin: 0% 30% 5% 30%;
            font-family: $link-font;
            color: $highlight-color-two;
        }
        .Menu-images {
            width: 90%;
            border-radius: 10px;
            opacity: 0.8;
        }
        .Menu-images:hover {
            opacity: 1.0;
        }
        .Menu-header {
            font-size: 1.1rem;
            font-family: $link-font;
            color: $border-color;
            margin: 10px;
            padding: 2px;
            display: inline-block;
        }
        .Menu-prices {
            font-family: $Text-font;
            color: $highlight-color-two;
            font-size: 1.1rem;
            display: inline-block;
            margin-bottom: 10px;
        }
        .Menu-text {
            font-size: 0.8rem;
            font-family: $Text-font;
            margin: 10px;
            color: $foreground-color
        }
    }
    
    #Page-header {
        font-family: $link-font;
        font-size: 1.7rem;
        color: $border-color;
        text-align: center;
        margin: 7vh 5vw 0vh 5vw;
        padding-bottom: 2vh;
        border-bottom: $Default-border;
        animation: Move 2s;
    }
    
    #About-us-grid {
        display: grid;
        margin: 15vh 10vw 10vh 10vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        column-gap: 4vw;
        row-gap: 5vh;
        animation: Move 2s;
        animation: Fade 3s;
        .About-us-header {
            padding: 5px 1px 7px 1px;
            margin-bottom: 5px;
            border-bottom: $Default-border;
            font-family: $link-font;
            color: $border-color;
        }
        .About-us-text {
            padding-left: 4px;
            font-family: $Text-font;
            color: $foreground-color;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        #About-us-italics {
            font-style: italic;
        }
        #Who-are-we-image {
            width: 100%;
        }
        #Pizza-on-table-image {
            width: 100%;
        }
        .About-us-images {
            border: 1px solid $foreground-color;
            border-radius: 5px;
            box-shadow: 1px 1px 2px $foreground-color;
        }
    }
    
    #Location {
        width: 100vw;
        #Location-header {
            font-family: $link-font;
            font-size: 1.9rem;
            color: $border-color;
            border-top: $Default-border;
            text-align: center;
            margin-left: 4vw;
            margin-right: 4vw;
            padding-top: 5vh;
        }
        #Maps-location {
            padding: 5vh 4vw 10vh 4vw;
            margin: 0vh 6vw 0vh 6vw;
            width: 80%;
            height: 500px;
        }
    }
    
    #Footer-container {
        display: grid;
        grid-template-columns: 45vw 45vw;
        grid-template-rows: 1fr;
        background-color: $foreground-color;
        font-size: 0.8rem;
        padding: 5vh 5vw 5vh 5vw;
        font-family: $Text-font;
        #Right-footer-column {
            text-align: right;
        }
    }
    
    @media (max-width: 1024px) and (orientation:portrait) {
        #Header-container {
            grid-template-rows: 17vh repeat(3, 4vh);
            grid-template-columns: 1fr;
            font-size: 1.2rem;
            top: 0px;
        }
        #Empty-div {
            display: none;
        }
        #Header-container #Phonenumber-link {
            display: block;
        }
        #Phonenumber-text {
            display: none;
        }
        #Content-container {
            #Hungry-banner {
                height: 40vh;
                #Hungry-text {
                    position: absolute;
                    top: 13vh;
                    left: 33%;
                }
            }
            #Opening-hours {
                font-size: 2.0rem;
            }
            #Video-container {
                #Pizza-video {
                    max-width: 100vw;
                }
            }
        }
        #Pizza-menu .Menu-grid .Pizza-item-container .Menu-images {
            opacity: 1.0;
        }
        #About-us-grid {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin: 2vh 4vw 3vh 4vw;
            align-items: center;
            font-size: 0.9rem;
        }
    }
    
    @media (max-width: 430px) {
        #Header-container {
            top: -128px;
            grid-template-rows: 17vh repeat(3, 6vh);
            grid-template-columns: 1fr;
            row-gap: 4px;
        }
        #Empty-div {
            display: none;
        }
        #Header-container #Phonenumber-link {
            display: block;
        }
        #Phonenumber-text {
            display: none;
        }
        #Content-container {
            #Hungry-banner {
                height: 40vh;
                #Hungry-text {
                    position: absolute;
                    top: 6vh;
                    left: 17%;
                    width: 60%;
                    height: auto;
                    font-size: 0.8rem;
                    #Hungry-question {
                        font-size: 1.2rem;
                    }
                }
            }
            #Video-container {
                #Pizza-video {
                    max-width: 100vw;
                }
            }
            #Homepage-text {
                margin: 5vh 10vw 5vh 10vw
            }
            #Opening-hours {
                font-size: 1.8rem;
                margin: 0vh 10vw 5vh 10vw;
            }
        }
        #Pizza-menu .Menu-grid .Pizza-item-container .Menu-images {
            opacity: 1.0;
        }
        #About-us-grid {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr)
        }
        #Location #Maps-location {
            height: 400px;
        }
    }
    
    @media (max-width: 375px) {
        #Header-container {
            top: -105px;
        }
        #Content-container {
            #Hungry-banner {
                height: 40vh;
                #Hungry-text {
                    position: absolute;
                    top: 5vh;
                    left: 17%;
                    width: 60%;
                    height: auto;
                    font-size: 0.8rem;
                    #Hungry-question {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }